flask==2.1.2
Werkzeug==2.2.2
protobuf==3.19.4
pandas==1.4.4
numpy==1.22.4
prometheus-client==0.14.1
prometheus-api-client==0.5.1
joblib==1.2.0
pyyaml_env_tag==0.1
scipy==1.9.1
xgboost==2.0.1
scikit-learn==1.1.2
py-cpuinfo==9.0.0
seaborn==0.12.2