name: Integration Test
on:
  workflow_call:
    inputs:
      base_change:
        description: 'Change flag on base image'
        required: true
        type: string
      docker_secret:
        description: 'Secret check'
        required: true
        type: string
      image_repo:
        description: 'The image repo to use'
        required: true
        type: string
      image_tag:
        description: 'The image tag to use'
        required: true
        type: string
      kepler_tag:
        description: 'Kepler image tag'
        required: true
        type: string
      additional_opts:
        description: 'additional deployment opts'
        required: true
        type: string

env:
  BASE_IMAGE: ${{ inputs.image_repo }}/kepler_model_server_base:${{ inputs.image_tag }}
  IMAGE: localhost:5001/kepler_model_server:devel
  KEPLER_IMAGE: quay.io/sustainable_computing_io/kepler:${{ inputs.kepler_tag }}
  DEFAULT_MODEL_SERVER_BASE_IMAGE: quay.io/sustainable_computing_io/kepler_model_server_base:latest

jobs:
  run-integration:
    if: ${{ (inputs.base_change != 'true') || ( (inputs.base_change == 'true') && (inputs.docker_secret == 'true') ) }}
    runs-on: ubuntu-20.04
    steps:
      - name: use Kepler action to deploy cluster
        uses: sustainable-computing-io/kepler-action@v0.0.8
        with:
          runningBranch: kind
          cluster_provider: kind
          local_dev_cluster_version: v0.0.5
      - name: load kepler image
        run: |
          docker pull ${{ env.KEPLER_IMAGE }}
          kind load docker-image ${{ env.KEPLER_IMAGE }}
      - name: checkout
        uses: actions/checkout@v4
      - name: set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Replace value in Dockerfile if base changes
        if: ${{ (inputs.base_change == 'true') && (inputs.docker_secret == 'true') }}
        run: |
          sed -i "s|${{ env.DEFAULT_MODEL_SERVER_BASE_IMAGE }}|${{ env.BASE_IMAGE }}|" dockerfiles/Dockerfile
      - name: Replace value in Dockerfile.test if base changes
        if: ${{ (inputs.base_change == 'true') && (inputs.docker_secret == 'true') }}
        run: |
          sed -i "s|${{ env.DEFAULT_MODEL_SERVER_BASE_IMAGE }}|${{ env.BASE_IMAGE }}|" dockerfiles/Dockerfile.test
      - name: build Kepler model server and test image and push to local registry
        run: make build build-test push push-test
      - name: set up Kustomize
        run: |
          curl -o install_kustomize.sh https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh
          chmod +x install_kustomize.sh
          ./install_kustomize.sh 5.3.0
          chmod +x kustomize
          mv kustomize /usr/local/bin/
      - name: test deploying with only estimator
        run: |
          make deploy
          make e2e-test
          make cleanup
        env:
          OPTS: "ESTIMATOR${{ inputs.additional_opts }}"
      - name: test deploying with only server
        run: |
          make deploy
          make e2e-test
          make cleanup
        env:
          OPTS: "SERVER${{ inputs.additional_opts }}"
      - name: test deploying with estimator and model server
        run: |
          make deploy
          make e2e-test
          make cleanup
        env:
          OPTS: "ESTIMATOR SERVER${{ inputs.additional_opts }}"
